<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>mac</name>
  <description></description>
  <remoteFS>/usr/local/var/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.29.4">
    <host>10.10.10.173</host>
    <port>22</port>
    <credentialsId>05e911a9-9d00-4c90-a23e-11847791e42f</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>mac</label>
  <nodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>3</int>
          <string>PATH</string>
          <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
          <string>PATH+PYTHON</string>
          <string>/usr/local/opt/python/libexec/bin</string>
          <string>PATH+RUBY</string>
          <string>/Users/dpal/.gem/ruby/2.3.0/bin</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </nodeProperties>
</slave>