<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>mac</name>
  <description></description>
  <remoteFS>/usr/local/var/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.JNLPLauncher">
    <workDirSettings>
      <disabled>false</disabled>
      <internalDir>remoting</internalDir>
      <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
    </workDirSettings>
  </launcher>
  <label>mac</label>
  <nodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>18</int>
          <string>APP_STORE_API_ISSUER_ID</string>
          <string>YOUR_APP_STORE_API_ISSUER_ID</string>
          <string>APP_STORE_API_KEY_CONTENT</string>
          <string>YOUR_APP_STORE_API_KEY_CONTENT</string>
          <string>APP_STORE_API_KEY_ID</string>
          <string>YOUR_APP_STORE_API_KEY_ID</string>
          <string>APPLE_ID</string>
          <string>YOUR_APPLE_ID</string>
          <string>ITC_TEAM_ID</string>
          <string>YOUR_ITC_TEAM_ID</string>
          <string>KEYSTORE_ALIAS</string>
          <string>YOUR_KEYSTORE_ALIAS</string>
          <string>KEYSTORE_ALIAS_PASSWORD</string>
          <string>YOUR_KEYSTORE_ALIAS_PASSWORD</string>
          <string>KEYSTORE_PASSWORD</string>
          <string>YOUR_KEYSTORE_PASSWORD</string>
          <string>LANG</string>
          <string>en_US.UTF-8</string>
          <string>LC_ALL</string>
          <string>en_US.UTF-8</string>
          <string>MATCH_PASSWORD</string>
          <string>YOUR_MATCH_PASSWORD</string>
          <string>PATH</string>
          <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
          <string>PATH+ANDROID</string>
          <string>~/Library/Android/sdk/tools:~/Library/Android/sdk/platform-tools</string>
          <string>PATH+NODE</string>
          <string>~/.nvm/versions/node/v16.1.0/bin</string>
          <string>PATH+PYTHON</string>
          <string>/usr/local/opt/python/libexec/bin</string>
          <string>PATH+RUBY</string>
          <string>~/.rbenv/shims:/usr/local/opt/openssl@1.1/bin</string>
          <string>SONAR_TOKEN</string>
          <string>YOUR_SONAR_TOKEN</string>
          <string>TEAM_ID</string>
          <string>YOUR_TEAM_ID</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </nodeProperties>
</slave>